<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>메인 페이지</title>
  <link rel="stylesheet" href="/css/style.css" />
  <!-- <script defer src="/js/main.js"></script> -->
  <style>
    .btn {
      padding: 5px 10px;
      border-radius: 10px;
      margin: 0 5px;
      font-weight: bold;
      color: #000;
      text-decoration: none;
    }

    .btn.orange {
      background-color: orange;
    }

    .btn.purple {
      background-color: mediumpurple;
    }

    .btn.yellow {
      background-color: gold;
    }
  </style>
</head>

<body>
  <h1>Welcome to Hee Express Service!</h1>
  <a class="btn orange" href="./login">
    로그인
  </a>
  <a class="btn yellow" href="./register">
    회원가입
  </a>
  <a class="btn purple" href="./dbBoard">
    게시판
  </a>

  <br />
  <br />
  <img src="/images/puppy.jpeg" />

  <script>
    // console.log(document.cookie);
    // document.cookie = "user=hee; expires=17 Mar 2023 13:00:00 GMT; path=/";
    // document.cookie = "test=test1; expires=17 Mar 2023 13:00:00 GMT; path=/";
    console.log(document.cookie);
  </script>
</body>

</html>